<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h3 class="modal-title col-12 text-center" id="title1">Añadir Tarjeta:</h3>
          </div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" name="name" placeholder="Nombre" class="form-control mb-3">
            <input type="text" name="surname" placeholder="Apellidos" class="form-control mb-3">
            <input type="text" name="cardnumber" placeholder="Nº de Tarjeta" class="form-control mb-3" maxlength="19" (input)="formatCardNumber($event)">
            <div class="input-group mb-3">
                <input type="number" name="expiremonth" placeholder="MM" class="form-control" maxlength="2" max="12" min="1">
                <div class="input-group-append">
                  <span class="input-group-text">/</span>
                </div>
                <input type="number" name="expireyear" placeholder="AA" class="form-control" maxlength="2">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btn-addcard">Guardar</button>
        </div>
      </div>
    </div>
</div>
  