<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Registro</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="formregister" (ngSubmit)="registerUser()">
                        <div class="mb-3">
                            <label for="text" class="form-label">Correo Electrónico:</label>
                            <input type="text" class="form-control" formControlName="mail" id="email" name="email" placeholder="Ingrese su correo electrónico">
                        </div>
                        <div class="mb-3">
                            <label for="contrasena" class="form-label">Contraseña:</label>
                            <input type="password" class="form-control" formControlName="password" id="password" name="password" placeholder="Ingrese una contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary" id="liveAlertBtn">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="liveAlertPlaceholder">
    <div *ngIf="alertMessage" class="alert alert-{{ alertType }} alert-dismissible" role="alert">
      <div>{{ alertMessage }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>