<div class="container">
        <ul class="list-group">
            <li class="list-group-item">Todos</li>
            <li class="list-group-item">Compra</li>
            <li class="list-group-item">Alquiler</li>
        </ul>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Selecciona una opción
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
        </ul>
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Selecciona una zona
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
        </ul>
        <button class="btn btn-primary" type="submit">Buscar</button>
    </div>
</div>