<div id="mainDiv" class="container">
        <div class="container" id="mainfilter">
            <p class="d-inline-flex gap-1">
                <button id="filterButton" type="button" class="btn active" data-bs-toggle="button" aria-pressed="true">Todos</button>
                <button id="filterButton" type="button" class="btn" data-bs-toggle="button">Compra</button>
                <button id="filterButton" type="button" class="btn" data-bs-toggle="button">Alquiler</button>
              </p>
        </div>
        <div id="dropfilter" class="container">
            <button id="dropbutton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Selecciona una ciudad
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let city of cities"><a id="listitem" class="dropdown-item" href="#">{{ city }}</a></li>
            </ul>
            <button id="dropbutton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Selecciona un código postal
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let postalcode of postalCodes"><a id="listitem" class="dropdown-item" href="#">{{ postalcode }}</a></li>
            </ul>
            <button id="submit" class="btn btn-primary" type="submit">Buscar</button>
          </div>
        </div>
