.card{
    background-color: rgba(208, 234, 233, 0.5);
    color: #F5B665;
    padding: 20%;
    margin-bottom: 26%;
    box-shadow: 15px 16px 15px -3px rgba(0,0,0,0.1);
    border: none ;

    .card-header, .card-footer {
        background: transparent;
    }

    .card-body .form-group {
        margin-bottom: 15px;
    }

    #liveAlertBtn {
        background-color: #F5B665; 
        border: none;
        box-shadow: 15px 16px 15px -3px rgba(0,0,0,0.1);
    }
    
    
    .form-control{
        background-color: #8BBFBD;
        box-shadow: 15px 16px 15px -3px rgba(0,0,0,0.1);
        border: none ;
    }

    .form-control::placeholder {
        color: #ffffff;
        text-align: center;
    }

    .card-footer a {
        color: #8BBFBD; 
    }
    

}


#liveAlertPlaceholder{
    display: flex;
    justify-content: center;
    align-items: center;
  }

#mainDiv {
    height: 90vh;
}

#alertDiv {
    background-color: #f4f4f2;
    border: 4px solid #f5b665;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    
  }
  
  #alertP {
    color: #055f5b;
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 1em;
  }
  
  #gif {
    width: 4em;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0.4;
    }
    15% {
      opacity: 0.6;
    }
    25% {
      opacity: 0.8;
    }
    35% {
      opacity: 1;
    }
    65% {
      opacity: 1;
    }
    75% {
      opacity: 0.8;
    }
    85% {
      opacity: 0.6;
    }
    95% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }
  
  .fadeInOut {
    animation: fadeInOut 3s ease-in-out;
  }