<!-- <div class="rsvmodal modal-dialog" *ngIf="isVisible" tabindex="-1">

  <h1 class="reservedesc">Quiero Hacer una Reserva de:</h1>
  <h1 class="reservedesc2">Property title</h1>
  <input type="text" name="name" placeholder="Nombre" class="nametxt">
  <input type="text" name="surname" placeholder="Apellidos" class="surnametxt">
  <input type="text" name="cardnumber" placeholder="Nº de Tarjeta" class="cardntxt">
  <input type="text" name="cvv" placeholder="CVV" class="cvvtxt">
  <div class="expiredate-container">
    <label for="expiredate">Fecha de caducidad:</label>
    <br>
    <input type="month" id="expiredate" name="expiredate" class="expiredate-input">
  </div>
  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">
    <i class="bi bi-x-lg"></i>
  </button>
</div> -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="header">
        <h3 class="modal-title col-12" id="title1">Quiero Hacer una Reserva de:</h3>
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h4 class="reservedesc2 col-12" id="title2">Titulo Propiedad</h4>
        </div>
      </div>
      <div class="modal-body">
        
        <input type="text" name="name" placeholder="Nombre" class="nametxt">
        <input type="text" name="surname" placeholder="Apellidos" class="surnametxt">
        <input type="text" name="cardnumber" placeholder="Nº de Tarjeta" class="cardntxt">
        <input type="text" name="cvv" placeholder="CVV" class="cvvtxt">
        <input type="month" id="expiredate" name="expiredate" class="expiredate-input" value="2023-01" >

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-reservar">Reservar</button>
      </div>
    </div>
  </div>
</div>