<div id="mainDiv" class="container-fluid">
  <div id="backDiv" class="container-fluid">
    <button id="backBtn" type="button" class="btn" (click)="goBack()">
      <img class="img-fluid" id="iconSvg" src="../../../../assets/icons/backw.svg"> Atrás
    </button>
  </div>
  
  <div id="searchDiv" class="container-fluid">
  <form id="form" (submit)="searchClients()">
    <div id="inputnavdiv" class="input-group mb-3"><input id="search" type="text" class="form-control" placeholder="Busqueda por palabra"
        [(ngModel)]="searchTerm" name="searchTerm" /><button id="searchbtn" class="btn btn-outline-secondary"
        type="submit">Buscar</button></div>
  </form>
</div>
<div id="table-admin" class="container-fluid">
  <table class="table table-striped table-success table-hover bdr">
    <thead>
      <tr>
        <th id="thM" scope="col">#</th>
        <th id="thM" scope="col">Nombre</th>
        <th id="thM" scope="col">Apellidos</th>
        <th id="thM" scope="col">Email</th>
        <th id="thM" scope="col">Dirección</th>
        <th id="thM">Habilitado/Deshabilitado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.userProfile.name }}</td>
        <td>{{ user.userProfile.lastname }}</td>
        <td>{{ user.mail }}</td>
        <td>{{ user.userProfile.address }}</td>
        <td>
          <div class="form-check">
            <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="user.status"
                  (change)="toggleUserStatus(user)"
                  id="flexCheckDefault{{ i }}"
                />
                <label class="form-check-label" for="flexCheckDefault{{ i }}"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="liveAlertPlaceholder">
  <div id="alertDiv" *ngIf="alertMessage" class="alert alert-{{ alertType }} alert-dismissible fadeInOut" role="alert">
    <img class="img-fluid" id="gif" src="../../../../assets/icons/check.gif">
    <div><p id="alertP"> {{ alertMessage }}</p></div>
  </div>
</div>

</div>
