.btn {
  width: 11rem;
  height: 2.3rem;
  border-radius: 5px;
  border: none;
  background: var(--colores-hover, #F3A139);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-left: 505px;
  margin-right: 20px;

}


