.btn {
  width: 10.7rem;
  width: 11rem;
  height: 2.3rem;
  border-radius: 5px;
  border: none;
  background-color: #F3A139;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);


  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  margin-left: 505px;
  margin-right: 20px;
  margin-top: 3.4rem;

}

