.property-title{
    color: var(--colores-fuente, #006d7a);
    font-weight: bold;
}

.property-image{
    width: 30%;
}

.table {
    box-shadow: 15px 16px 15px -3px rgba(0,0,0,0.1);
}

.bdr {
    border-radius: 5px;
    overflow: hidden;
}

#tableTittle {
    color: #006d7a;
}

#pTh {
    color: white;
    background-color: #006d7a;
}

#propImg {
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#editBtn {
    background-color: #f5b665;
    border-color: #f5b665;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#deleteBtn {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}