<div class="container mt-5" *ngIf="profile">
    <h1>Tabla de Propiedades</h1>
    <table class="table table-striped table-success table-hover">
        <thead>
            <tr>
                <th>Nombre propiedades</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="profile.propertiesPublished">
                <tr *ngFor="let property of profile.propertiesPublished; let i = index">
                    <ng-container *ngIf="property.status !== false">
                        <td>{{ property.title }}</td>
                        <td><a href="#" class="btn btn-primary" (click)="editProperty(i)">Editar</a></td>
                        <td><a href="javascript:void(0);" class="btn btn-danger" (click)="updateStatus(i, false)">Eliminar</a></td>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
