.modal1 {
  border-radius: 5px;
  background: rgb(208, 234, 233);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 2rem;

  width: 820px;
  height: 546px;
  position: absolute;
  left: 300px;
}
.img_house {
  position: relative;
  top: 40px;
  left: 80px;

  width: 261px;
  height: 214px;
  flex-shrink: 0;
}

.close {
  background: none;
  border: none;
  float: right;
  position: absolute;
  top: 20px;
  right: 20px;
}

.owner {
  border-radius: 10px;
  background: #8bbfbd;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 261px;
  height: 40px;
  position: relative;
  top: 47px;
  left: 80px;
  text-align: center;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icons {
  display: flex;
  justify-content: left;
  margin-bottom: 2rem;
  margin-top: 3.5rem;
  margin-left: 75px;
}
.iconify {
  font-size: 1.5rem;
  margin-bottom: 4rem;
  margin: 10px;
}

.number {
  margin-top: 11px;
  margin-left: 15px;
  color: #006d7a;
}

.bi {
  float: right;
  margin-bottom: 6587px;
}

.price {
  width: 263px;
  height: 45px;
  flex-shrink: 0;
  color: #f3a139;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  margin-left: 115px;

  font-size: 3.5em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #d69a3a, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

textarea {
  resize: none;
  box-sizing: 400px;
  position: absolute;
  top: 40px;
  left: 380px;
  bottom: 45px;
  border-radius: 10px;
  background: var(--colores-color-primario, #d0eae9);
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.send {
  border-radius: 10px;
  border: none;
  background: #f5b665;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 261px;
  height: 40px;
  position: relative;
  top: 30px;
  left: 500px;
  text-align: center;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
