#mainBody {
//  border: 2px solid red;
 display: flex;
 flex-direction: row;
 background-color: #f4f4f2;
 color: #f4f4f2;
}

#infoBody {
  // border: 2px solid fuchsia;
  padding-top: 3em;
  width: 100%;

}

#descDiv {
  // border: 2px solid greenyellow;
  padding: 1em;
}

.modal-dialog{
  margin: auto;
  max-width: none;  
  width: fit-content;
  
 }

 #imgDiv{
  // border: 2px solid rgb(255, 136, 0);
  display: flex;
  justify-content: center;
 }

 #propDiv {
  // border: 2px solid rgb(255, 136, 0);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0.5em;
  marging-bottom: 2em;
 }

 #iconsDiv {
  // border: 2px solid rgb(255, 136, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 #iconSvg {
  max-width: 2em;
 }

 #icondiv1 {
  // border: 2px solid greenyellow;
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 20%;
  
 }

 #icondiv2 {
  // border: 2px solid greenyellow;
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 20%;
 }

 #icondiv3 {
  // border: 2px solid greenyellow;
  display: flex;
  flex-direction: row;
  flex: 2;
  width: 40%;
 }


 #iconifyDiv {
  // border: 2px solid red;
 }
 #iconifyDiv3 {
  // border: 2px solid rgb(0, 255, 76);
  width: 40%;

 }

 #numberDiv {
  // border: 2px solid palegreen;
 }

 #numberDiv3{
  width: 60%;
 }

 .number {
  color: #055f5b;
  font-size: 1.2em;
  font-weight: bold;
 }

 #priceDiv {
  // border: 2px solid rgb(255, 0, 242);
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 #priceP {
  font-size: 2em;
  color: #f5b665;
  font-weight: bold;
 }

 #pDiv {
  background-color: #8cbfbc;
  // border: 2px solid red;
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
 }

 .owner {
  // border: 2px solid fuchsia;
  font-size: 1.5em;
  text-align: center;
  margin: 0px;
 }

 #propertyImg {
  height: 12em;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
 }

 .number {
  color: #055f5b;
 }

 #headerDiv {
  background-color: #8cbfbc;
  border: none;
 }

 #footerDiv {
  background-color: #f4f4f2;
  border: none;
 }

 #btn-reservar {
  background-color: #F5B665;
  color: white;
  border: none;
  margin-right: 2em;
  margin-right: 0.5em;
  font-size: 1.5em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
 
 }
 
 #btn-reservar:hover {
   background-color: #d19a53;
   color: white;
   border: none;
   font-size: 1.5em;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
   margin-bottom: 4px;
  
  }


#descDiv {
  // border: 2px solid red;
  width: 100%;
  padding: 0px;
}

#exampleFormControlTextarea1 {
  background-color: #8cbfbc;
  height: 90% !important;
  padding: 0em;
  color: white;
  box-shadow: #055f5b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-color: #8cbfbc;
}

#label {
  color: #055f5b;
}

.form-control:focus {
  border-color: #8cbfbc !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #8cbfbc !important;
}

#tittle { 
  display: inline;
  margin-left: 1em;
  color: #055f5b;
}





































// .modal1 {
//   border-radius: 5px;
//   background: rgb(208, 234, 233);
//   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  

//   width: 820px;
//   height: 546px;
//   position: absolute;
//   left: 300px;
// }
// .img_house {
//   position: relative;
//   top: 40px;
//   left: 80px;

//   width: 261px;
//   height: 214px;
//   flex-shrink: 0;
// }

// .close {
//   background: none;
//   border: none;
//   float: right;
//   position: absolute;
//   top: 20px;
//   right: 20px;
// }

// .owner {
//   border-radius: 10px;
//   background: #8bbfbd;
//   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
//   width: 261px;
//   height: 40px;
//   position: relative;
//   top: 47px;
//   left: 80px;
//   text-align: center;
//   color: #fff;
//   font-family: Inter;
//   font-size: 24px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
// }

// .icons {
//   display: flex;
//   justify-content: left;
//   margin-bottom: 2rem;
//   margin-top: 3.5rem;
//   margin-left: 75px;
// }
// .iconify {
//   font-size: 1.5rem;
//   margin-bottom: 4rem;
//   margin: 10px;
// }

// .number {
//   margin-top: 11px;
//   margin-left: 15px;
//   color: #006d7a;
// }

// .bi {
//   float: right;
//   margin-bottom: 6587px;
// }

// .price {
//   width: 263px;
//   height: 45px;
//   flex-shrink: 0;
//   color: #f3a139;
//   font-family: Inter;
//   font-size: 48px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: normal;

//   display: flex;
//   margin-left: 115px;

//   font-size: 3.5em;
//   font-weight: bold;
//   font-family: Helvetica;
//   text-shadow: 0 1px 0 #d69a3a, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
//     0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
//     0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
//     0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
//     0 20px 20px rgba(0, 0, 0, 0.15);
// }

// textarea {
//   resize: none;
//   box-sizing: 400px;
//   position: absolute;
//   top: 40px;
//   left: 380px;
//   bottom: 45px;
//   border-radius: 10px;
//   background: var(--colores-color-primario, #d0eae9);
//   box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
// }

// .send {
//   border-radius: 10px;
//   border: none;
//   background: #f5b665;
//   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
//   width: 261px;
//   height: 40px;
//   position: relative;
//   top: 0px;
//   left: 500px;
//   text-align: center;
//   color: #fff;
//   font-family: Inter;
//   font-size: 24px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
// }












// .modal-dialog {
//   position: relative;
//   display: table; /* This is important */
//   overflow-y: auto;
//   overflow-x: auto;
//   width: auto;
//   min-width: 800px;
// }

// .modal {
//   margin-top: 50px;
// }

// .btn-close {
//   position: absolute;
//   right: 30px;
// }

// .header {
//   display: block;

//   color: var(--colores-fuente, #006d7a);
//   font-size: 32px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: normal;
// }

// .modal-body {
//   margin-left: -20px;
// }

// #title1 {
//   font-size: 16px;
// }

// #title2 {
//   font-size: 20px;
// }

// input {
//   border-radius: 5px;
//   border: none;
//   background: #8bbfbd;
//   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
//   flex-shrink: 0;
// }

// .nametxt {
//   margin-left: 60px;
//   height: 43.984px;
// }

// .surnametxt {
//   display: inline-block;
//   margin-left: 50px;
//   width: 225px;
//   height: 43.984px;
// }

// .cardntxt {
//   display: block;
//   margin-left: 60px;
//   margin-top: 30px;
//   width: 425px;
//   height: 43.984px;
//   flex-shrink: 0;
// }

// .cvvtxt {
//   position: absolute;
//   right: 95px;
//   top: 90px;
//   height: 43.984px;
// }



// .expiredate-input {
//   margin-top: 30px;
//   margin-left: 60px;
//   height: 43.984px;
//   color: #ffff;
  
// }



// #btn-reservar {
//   background-color: #f3a139;
//   color: #ffff;
//   margin-right: 350px;
//   padding-left: 10px;
// }


// ::placeholder {
//   color: #ffff;
//   opacity: 1; 
// }
