<!-- filterBox para la vista principal -->
<section class="container-fluid" *ngIf="showImgHomeDiv" id="imgHomeDiv">
  <img id="imgHome" class="img-fluid" src="assets/img/Slider.png" alt="vista de edificio y cielo">
</section>
<div id="filterBox" class="container" [ngStyle]="showImgHomeDiv ? filterBoxStylesVisible : filterBoxStylesHidden">
  <div id="filterSection" class="container">
    <div
      class="btn-group"
      role="group"
      aria-label="Basic radio toggle button group"
    >
    <input
    type="radio"
    class="btn-check"
    name="propertyType"
    id="all"
    autocomplete="off"
    [(ngModel)]="filters.propertyType"
    value="Todos"
    (ngModelChange)="applyFilters()"
  />
  <label id="label" class="btn btn-outline-primary" for="all">Todos</label>
  
  <input
    type="radio"
    class="btn-check"
    name="propertyType"
    id="buy"
    autocomplete="off"
    [(ngModel)]="filters.propertyType"
    value="Venta"
    (ngModelChange)="applyFilters()"
  />
  <label id="label" class="btn btn-outline-primary" for="buy">Compra</label>
  
  <input
    type="radio"
    class="btn-check"
    name="propertyType"
    id="rent"
    autocomplete="off"
    [(ngModel)]="filters.propertyType"
    value="Alquiler"
    (ngModelChange)="applyFilters()"
  />
  <label id="label" class="btn btn-outline-primary" for="rent"
    >Alquiler</label
  >
    </div>
  </div>
  <div class="container-fluid" id="secFilters">
  <div id="dropfilterDiv" class="container">
    <button
      id="dropbutton"
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{ selectedCity }}
    </button>
    <ul id="dropUl" class="dropdown-menu">
      <li id="dropLi" *ngFor="let city of cities">
        <span
          id="listitem"
          class="dropdown-item"
          (click)="updateCityFilter(city)"
          >{{ city }}</span
        >
      </li>
    </ul>

    <button
      id="dropbutton"
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{ selectedPostalCode }}
    </button>
    <ul id="dropUl" class="dropdown-menu">
      <li id="dropLi" *ngFor="let postalCode of postalCodes">
        <span
          id="listitem"
          class="dropdown-item"
          (click)="updatePostalCodeFilter(postalCode)"
          >{{ postalCode }}</span
        >
      </li>
    </ul>

    <button
    id="dropbutton"
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {{ selectedHouseType }}
  </button>
  <ul id="dropUl" class="dropdown-menu">
    <li id="dropLi" *ngFor="let houseType of houseTypes">
      <span
        id="listitem"
        class="dropdown-item"
        (click)="updateHouseTypeFilter(houseType)"
        >{{ houseType }}</span
      >
    </li>
  </ul>

  <button
  id="dropbutton"
  class="btn btn-secondary dropdown-toggle"
  type="button"
  data-bs-toggle="dropdown"
  aria-expanded="false"
>
  {{ selectedPrice | priceFormat }}
</button>
<ul id="dropUl" class="dropdown-menu">
  <li id="dropLi">
    <span
      id="listitem"
      class="dropdown-item"
      (click)="updatePriceFilter(0, 500)"
    >0 - 500€</span>
  </li>
  <li id="dropLi">
    <span
      id="listitem"
      class="dropdown-item"
      *ngFor="let i of getPriceRange(500, 2000, 500)"
      (click)="updatePriceFilter(i, i + 500)"
    >{{ i | priceFormat }} - {{ (i + 500) | priceFormat }}€</span>
  </li>
  <li id="dropLi">
    <span
      id="listitem"
      class="dropdown-item"
      *ngFor="let i of getPriceRange(0, 500000, 50000)"
      (click)="updatePriceFilter(i, i + 50000)"
    >{{ i | priceFormat }} - {{ (i + 50000) | priceFormat }}€</span>
  </li>
  <li id="dropLi">
    <span
      id="listitem"
      class="dropdown-item"
      (click)="updatePriceFilter(500000, 10000000)"
    >&gt; 500000€</span>
  </li>
</ul>

  <button
    id="dropbutton"
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {{ selectedSize }}
  </button>
  <ul id="dropUl" class="dropdown-menu">
    <li id="dropLi">
      <span
        id="listitem"
        class="dropdown-item"
        (click)="updateSizeFilter(0, 50)"
        >0 - 50 m²</span
      >
    </li>
    <li id="dropLi">
      <span
        id="listitem"
        class="dropdown-item"
        (click)="updateSizeFilter(50, 100)"
        >50 - 100 m²</span
      >
    </li>
    <li id="dropLi">
      <span
        id="listitem"
        class="dropdown-item"
        (click)="updateSizeFilter(100, 150)"
        >100 - 150 m²</span
      >
    </li>
  </ul>

  <button
    id="dropbutton"
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {{ selectedRooms }}
  </button>
  <ul id="dropUl" class="dropdown-menu">
    <li id="dropLi">
      <span id="listitem" class="dropdown-item" (click)="updateRoomsFilter(1)"
        >1 habitación</span
      >
    </li>
    <li id="dropLi2">
      <span id="listitem2" class="dropdown-item" (click)="updateRoomsFilter(2)"
        >2 habitaciones</span
      >
    </li>
    <li id="dropLi">
      <span id="listitem" class="dropdown-item" (click)="updateRoomsFilter(3)"
        >3 habitaciones</span
      >
    </li>
  </ul>

  <button
    id="dropbutton"
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {{ selectedBaths }}
  </button>
  <ul id="dropUl" class="dropdown-menu">
    <li id="dropLi">
      <span id="listitem" class="dropdown-item" (click)="updateBathsFilter(1)"
        >1 baño</span
      >
    </li>
    <li id="dropLi">
      <span id="listitem" class="dropdown-item" (click)="updateBathsFilter(2)"
        >2 baños</span
      >
    </li>
    <li id="dropLi">
      <span id="listitem" class="dropdown-item" (click)="updateBathsFilter(3)"
        >3 baños</span
      >
    </li>
  </ul>
</div>

<div class="container-fluid" id="secBtn">
  <button
  id="applyFiltersAndShowImageButton"
  class="btn btn-primary"
  (click)="applyFiltersAndShowImage()"
>
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M7.207 2.543a1 1 0 0 1 0 1.414L5.414 5.75h7.836a8 8 0 1 1-8 8a1 1 0 1 1 2 0a6 6 0 1 0 6-6H5.414l1.793 1.793a1 1 0 0 1-1.414 1.414l-3.5-3.5a1 1 0 0 1 0-1.414l3.5-3.5a1 1 0 0 1 1.414 0Z"/></svg>
  Aplicar
</button>

    <button
  id="resetFiltersButton"
  class="btn btn-secondary"
  (click)="resetFilters()"
><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M7.207 2.543a1 1 0 0 1 0 1.414L5.414 5.75h7.836a8 8 0 1 1-8 8a1 1 0 1 1 2 0a6 6 0 1 0 6-6H5.414l1.793 1.793a1 1 0 0 1-1.414 1.414l-3.5-3.5a1 1 0 0 1 0-1.414l3.5-3.5a1 1 0 0 1 1.414 0Z"/></svg>
  Restablecer
</button>

</div>
  </div>
</div>



<div id="showDiv" class="container-fluid">
  <div
    id="card-h"
    class="card mb-3"
    style="max-width: 60%"
    *ngFor="let property of filteredPropertyData; let i = index"
  >
    <div id="mainDiv" class="row g-0">
      <div class="col-md-4" style="max-width: 20%">
        <div [id]="'carouselExampleIndicators' + i" class="carousel slide">
          <div class="carousel-indicators">
            <button
              type="button"
              [attr.data-bs-target]="'#carouselExampleIndicators' + i"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              [attr.data-bs-target]="'#carouselExampleIndicators' + i"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              [attr.data-bs-target]="'#carouselExampleIndicators' + i"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              [attr.data-bs-target]="'#carouselExampleIndicators' + i"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
            <button
              type="button"
              [attr.data-bs-target]="'#carouselExampleIndicators' + i"
              data-bs-slide-to="4"
              aria-label="Slide 5"
            ></button>
          </div>
          <div class="carousel-inner">
            <div
              class="carousel-item"
              *ngFor="let image of property.images; let j = index"
              [class.active]="j === 0"
            >
              <a href="#detalles" target="_blank"
                ><img id="carImg"
                  [src]="'../assets/images/properties' + image.img"
                  class="d-block w-100"
                  [alt]="'Image ' + (j + 1)"
              /></a>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            [attr.data-bs-target]="'#carouselExampleIndicators' + i"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            [attr.data-bs-target]="'#carouselExampleIndicators' + i"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div id="infomaindiv" class="col-md-8" style="max-width: 100%">
        <div id="textDiv" class="card-body">
          <div id="textDiv" class="card-body">
            <nav id="infoNav" class="navbar navbar-custom">
              <div class="container-fluid">
                <a id="aRouter" class="navbar-brand mb-0 h1" [routerLink]="['/properties/details', property.id, { images: property.images }]" [queryParamsHandling]="'preserve'" routerLinkActive="active">
                  {{ property.title }} en {{ property.type }}
                </a>
                <span id="titletext" class="navbar-brand mb-0 h1">
                  {{ property.houseType }} en {{ property.postalCode }}, {{ property.city }}.
                </span>
              </div>
            </nav>
          <div id="infoDiv" class="container-fluid">
            <div id="pricediv" class="container-fluid">
              <h5 id="price" class="card-title">{{ property.price | priceFormat }}€</h5>
            </div>
            <div id="icondetails" class="container-fluid">
              <h5 id="icontext">
                {{ property.rooms }}
                <span
                  class="iconify"
                  data-icon="mdi:bed"
                  style="color: #006d7a"
                ></span>
              </h5>
              <h5 id="icontext">
                {{ property.baths }}
                <span
                  class="iconify"
                  data-icon="majesticons:bath-shower"
                  style="color: #006d7a"
                ></span>
              </h5>
              <h5 id="icontext">
                {{ property.size }} m²
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-bounding-box-circles"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM0 2a2 2 0 0 1 3.937-.5h8.126A2 2 0 1 1 14.5 3.937v8.126a2 2 0 1 1-2.437 2.437H3.937A2 2 0 1 1 1.5 12.063V3.937A2 2 0 0 1 0 2zm2.5 1.937v8.126c.703.18 1.256.734 1.437 1.437h8.126a2.004 2.004 0 0 1 1.437-1.437V3.937A2.004 2.004 0 0 1 12.063 2.5H3.937A2.004 2.004 0 0 1 2.5 3.937zM14 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM2 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                  />
                </svg>
              </h5>
            </div>
          </div>
          <div class="container-fluid" id="btnDescMain">
            <div class="container-fluid" id="descDiv">
              <p id="description" class="card-text">
                {{ property.description.length > 165 ? property.description.slice(0, 165) + '...' : property.description }}
                <a id="more" *ngIf="property.description.length > 165" (click)="leerMas(property.id)">Leer Más</a>
              </p>
            </div>
            <div id="btndiv" class="container-fluid">
              <div id="reserveDiv" *ngIf="property.type === 'Alquiler'"><app-reservebtn></app-reservebtn>
                <app-reservemodal></app-reservemodal></div> 
              <div id="contactDiv"><app-contactbtn></app-contactbtn></div> 
              
            </div>
          </div>
       
      </div>
      </div>
    </div>
  </div>
</div>
