.card{
    background-color: #ededed;
}

.btn{
   background-color: #F5B665;
   margin-left: 70px;
   color: white;
   font-weight: bold;
}

svg{
    color: #006D7A;
}

h2{
    color: #F5B665;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.card-text{
    font-family: Roboto;
    color: #006D7A;
  
}

#mas{
    color: #F5B665;
}

span{
    color: #006D7A;
}

p{
    font-family: 'Inter', sans-serif;
}

