
<div class="container-fluid" id="mainDiv">

  <div class="container mt-5" *ngIf="property">
    <div class="row">
      <div class="col-md-6">
        <!-- Imagen principal a la izquierda -->
        <img [src]="'../../../../assets/images/properties' + property.images[0].img" class="img-fluid" alt="Imagen Principal" id="house">
      </div>
      <div class="col-md-6">
        <!-- Miniaturas de imágenes a la derecha en una cuadrícula de 2x2 -->
        <div class="row">
          <div class="col-6 mb-2" *ngFor="let image of property.images.slice(1, 5)">
            <img id="gridImg" [src]="'../../../../assets/images/properties' + image.img" class="img-fluid thumbnail" [alt]="'Imagen ' + image.id">
          </div>
        </div>
        <div class="row">
          <div class="col-6 mb-2" *ngFor="let image of property.images.slice(5, 9)">
            <img id="gridImg" [src]="'../../../../assets/images/properties' + image.img" class="img-fluid thumbnail" [alt]="'Imagen ' + image.id">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="icons">
    <div class="row">
        <div class="col-md-12 text-center">
            <div id="iconsDiv" class="icons mx-auto">

                <p>{{ property.rooms }}</p>
                <span class="iconify" data-icon="mingcute:bed-fill" style="color: #006d7a;" data-width="39"
                    data-height="41"></span>
                <p>{{ property.baths }}</p>
                <span class="iconify" data-icon="fa:bathtub" style="color: #006d7a;" data-width="36"
                    data-height="33"></span>
                <p>{{ property.size }} m²</p>
                <span class="iconify" data-icon="gis:square-pt" style="color: #006d7a;" data-width="35"
                    data-height="40"></span>
            </div>
        </div>
    </div>
</div>
  
<div id="priceDiv">
  <p id="price">{{ property.price }}€</p>
</div>


<p id="description">{{ property.description }}
</p>

<app-modalcontact #contactmodal></app-modalcontact>
<app-contactbtn (openModalEvent)="contactmodal.openModal()" id="contactbtn"></app-contactbtn>
</div>