.form-label {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #F5B665;
  text-transform: uppercase;
  margin-left: 2rem;
}


input[type="file"] {
  display: none;
}

label[for="formFileMultiple"]::after {
  content: "Seleccionar Archivos";
  display: inline-block;
  padding: 5px 15px;
  background-color: #F5B665;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;

}



