<div class="container justify-content-center align-items-center">
<h1>Formulario de venta/alquiler</h1>
<form action="#">
    <select  class="election"    name="select" id="select">
        <option value="selecciona">Selecciona una opción</option>
        <option value="casa">Casa</option>
        <option value="piso">Piso</option>
        <option value="terreno">Terreno</option>
        <option value="solar">Solar</option>
    </select>
    
    <select class="election" name="venta" id="venta">
            <option value="selecciona">Venta</option>
            <option value="casa">Alquiler</option>
    </select>
         
            <input type="number" id="bath" name="baños" placeholder="Baños" min="0" max="10" >
            <input type="number" id="rooms" name="rooms" placeholder="Habitaciones" min="0" max="10" >
            <input type="number" id="surface" name="surface" placeholder="Superficie" min="0" max="" >
            <input type="price" id="price" name="price" placeholder="Importe">
   </form>
<div class="container">
   
<p><label for="description">Descripción:</label></p>

<textarea id="description" name="description" rows="20" cols="100" ></textarea>    
<app-previewbtn></app-previewbtn>
<app-file-upload></app-file-upload>



</div>


</div>


