.election{
    background-color: #8BBFBD;
    margin: 20px;
}

#bath{
    background-color:#8BBFBD ;
    margin: 20px;
}

#rooms {
    background-color:#8BBFBD ;
    width: 120px;
    margin: 20px;
}

#surface {
    background-color:#8BBFBD ;
    width: 120px;
    margin: 20px;
}
#price{
    background-color:#8BBFBD ;
    
}