

h1{
    color: #F3A139;
    text-align: center;
}

textarea {
    resize:none ;
    border-color: #8BBFBD;
    border-radius: 5px;
    background-color: D0EAE9;

  }

  #description{
    background-color: #D0EAE9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  p{
    color: #F3A139;
  }

  

  .form-select{
    width: 210px;
    padding: 5px;
    background-color: #D0EAE9;
    color: #006D7A;
    margin: 10px;
    
}

.form-floating{
    display: inline-block;
}

#surface {
        background-color:#8BBFBD ;
        border-color:#8BBFBD;
     
    }

    .form-control{
        background-color: #D0EAE9;
        color: #006D7A;
        width: 210px;
        padding: 5px;
        margin: 10px;
        float: right;
        padding: 5px;
       
    
        
    }


    form{
        justify-content: center;
        align-items: center;
        
    }

    .container{
        float: right;
    }

    label{
        color: #006D7A;
    }

   form{
    margin-top: 40px;
   }



