<h1>Formulario de Venta/Alquiler</h1>

<form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-12 col-lg-3">
      <label for="propertyTypeSelect">Tipo de propiedad</label>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="propertyTypeDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          Tipo propiedad
        </button>
        <ul class="dropdown-menu" aria-labelledby="propertyTypeDropdown">
          <li><a class="dropdown-item" href="#" (click)="selectPropertyType('Casa')">Casa</a></li>
          <li><a class="dropdown-item" href="#" (click)="selectPropertyType('Piso')">Piso</a></li>
          <li><a class="dropdown-item" href="#" (click)="selectPropertyType('Terreno')">Terreno</a></li>
          <li><a class="dropdown-item" href="#" (click)="selectPropertyType('Solar')">Solar</a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <label for="transactionTypeSelect">Tipo de transacción</label>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="transactionTypeDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Tipo transacción
        </button>
        <ul class="dropdown-menu" aria-labelledby="transactionTypeDropdown">
          <li><a class="dropdown-item" href="#" (click)="selectTransactionType('Venta')">Venta</a></li>
          <li><a class="dropdown-item" href="#" (click)="selectTransactionType('Alquiler')">Alquiler</a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <label for="citySelect">Seleccionar una ciudad</label>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="cityDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Selecciona una ciudad
        </button>
        <ul class="dropdown-menu" aria-labelledby="cityDropdown">
          <li><a class="dropdown-item" href="#" (click)="selectCity('Madrid')">Madrid</a></li>
          <li><a class="dropdown-item" href="#" (click)="selectCity('Barcelona')">Barcelona</a></li>
          <li><a class="dropdown-item" href="#" (click)="selectCity('Valencia')">Valencia</a></li>
          <li><a class="dropdown-item" href="#" (click)="selectCity('Oviedo')">Oviedo</a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <label for="postalCodeSelect">Código Postal</label>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="postalCodeDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          [class.disabled]="!propertyForm.get('city')?.value"
        >
          Código postal
        </button>
        <ul class="dropdown-menu" aria-labelledby="postalCodeDropdown">
          <li *ngFor="let code of filteredPostalCodes">
            <a class="dropdown-item" href="#" (click)="selectPostalCode(code)">{{ code }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <label for="superficieInput">Superficie</label>
      <input
        type="text"
        class="form-control custom-input"
        placeholder="Superficie"
        id="superficieInput">
    </div>

    <div class="col-12 col-lg-3">
      <label for="importeInput">Importe €</label>
      <input
        type="text"
        class="form-control custom-input"
        placeholder="Importe €"
        id="importeInput">
    </div>
  </div>

  <div class="container-fluid">
    <div class="btupload">
      <app-file-upload></app-file-upload>
    </div>
    <div class="d-flex">
      <app-previewbtn></app-previewbtn>
    </div>
    <button type="submit" class="btn">Enviar</button>
  </div>

  <p><label for="description">Descripción:</label></p>
  <textarea
    id="description"
    name="description"
    rows="15"
    cols="81"
  ></textarea>
</form>

