<div class="container mt-5">
    <h4>Mis Datos</h4>
    <ng-container *ngIf="profile; else profileForm">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="label">Nombre:</span>
                <span class="value">{{ profile.name }}</span>
            </li>
            <li class="list-group-item">
                <span class="label">Apellidos:</span>
                <span class="value">{{ profile.lastname }}</span>
            </li>
            <li class="list-group-item" *ngIf="user">
                <span class="label">E-mail:</span>
                <span class="value">{{ user.mail }}</span>
            </li>
        </ul>
    </ng-container>
    <ng-template #profileForm>
        <form (submit)="saveProfile()">
            <div class="form-group">
              <label for="name">Nombre:</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="profile.name">
            </div>
            <div class="form-group">
              <label for="lastname">Apellidos:</label>
              <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="profile.lastname">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>          
    </ng-template>
</div>

