<div class="container mt-5">
    <h4>Mis Datos</h4>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="label">Nombre:</span>
            <span class="value">[Tu nombre]</span>
        </li>
        <li class="list-group-item">
            <span class="label">Apellidos:</span>
            <span class="value">[Tus apellidos]</span>
        </li>
        <li class="list-group-item">
            <span class="label">E-mail:</span>
            <span class="value">[Tu correo electrónico]</span>
        </li>
    </ul>
</div>
