<div id="mainDiv" class="container-fluid">
<div id="mainBody" class="container mt-5">
  <div id="backDiv" class="container-fluid">
    <button id="backBtn" type="button" class="btn" (click)="goBack()">
      <img class="img-fluid" id="iconSvg" src="../../../../assets/icons/backw.svg"> Atrás
    </button>
  </div>

<div id="titleDiv" class="container-fluid">
  <div id="titleText" class="container-fluid">
  <h2 id="titleP">Mi perfil</h2>
  <h4 id="addressP">Administra tus datos y tus propiedades.</h4>
</div>
</div>
    
        <app-userdata></app-userdata>
      
  </div>
  <app-add-card-modal></app-add-card-modal>
  <app-properties-published-list></app-properties-published-list>
</div>