#mainDiv {
    width: 60%;
  background-color: #f4f4f2;
  padding: 2em;
  padding-top: 0em;
  border-radius: 8px;
  margin-top: 1em;
  margin-bottom: 4em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

#iconSvg {
    width: 2em;
  }

#backDiv {
    padding: 0em;
    padding-top: 0.5em;
    padding-bottom: 1em;
  }

  #titleDiv {
    background-color: #8cbfbc;
    border-radius: 8px;
    padding: 1em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #titleP {
    color: white;
  }

  #addressP {
    color: #055f5b;
  }

  #backBtn {
    background-color: #8cbfbc;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-weight: bold;
  }
  
  #backBtn:hover {
    background-color: #055f5b;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-weight: bold;
    padding-left: 8px;
  }

#mainBody {
    margin-top: 0em;
}

.mt-5 {
    margin-top: 0rem!important;
}