#card-h {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#carouselExampleCaptions {
    display: flex;
}

img {
    // display:block;
    // min-width: 290px;
    min-height: 200px;
    // position: relative;
}