<!-- Modal -->
<div class="container-fluid" id="exampleModal">
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="container-fluid">
          <h3 class="container-fluid" id="title1">Quiero Hacer una Reserva de:</h3>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <h4 class="reservedesc2 col-12" id="title2">{{ property.title }}</h4>
          </div>
        </div>
        <div class="container-fluid">
          
          <input type="text" name="name" placeholder="Nombre" class="nametxt">
          <input type="text" name="surname" placeholder="Apellidos" class="surnametxt">
          <input type="text" name="cardnumber" placeholder="Nº de Tarjeta" class="cardntxt">
          <!-- <input type="text" name="cvv" placeholder="CVV" class="cvvtxt"> -->
          <input type="month" id="expiredate" name="expiredate" class="expiredate-input" value="2023-01" >
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btn-reservar">Reservar</button>
        </div>
      </div>
    </div>
  </div>
