#btn-reservar {
  background-color: #F5B665;
  color: white;
  border: none;
  
  font-size: 1.5em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
 
 }
 
 #btn-reservar:hover {
   background-color: #d19a53;
   color: white;
   border: none;
   font-size: 1.5em;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
   margin-bottom: 4px;
  
  }
