#header {
  display: flex;
  background-color: #8bbfbd;
}

.navbar-nav {
  display: flex;
  justify-content: left
}

.navbar-brand {
  height: 64px;
  display: flex;


}

.nav-link {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  justify-content: right;

}
.active{
  color: #006d7a;
  margin-right: 80px;
  margin-left: 60px;
}

#svg-login {
  display: flex;
  position: absolute;
  left: 1855px;
  .bi {
    color: #006d7a;
  }
}

.btn {
  color: #8bbfbd;
}
