#header {
  display: flex;
  background-color: #8bbfbd;
}

.navbar-brand {
  height: 6vh;
  display: flex;
}


.navbar-login {
  .bi {
    color: #006d7a;
  }
}

#navbarFlex {


  display: flex;
  justify-content: flex-end;

}

#mainNav {
  display: flex;

  width: 100%;
}

#svg-login {
  margin-right: 2em;
  margin-left: 8em;
}

#puBtn {
  background: none;
  font-size: 1.5em;
  border: 2px solid #f4f4f2;
}

#puBtn:hover {
  background-color: #006d7a;
  color: white;
  font-size: 1.5em;
  border: 2px solid #006d7a;
  margin-bottom: 4px;
}


#logout {
  color: white;
  background-color: #f5b665;
  border-color: #f5b665;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.5em;
}
