


<app-imghome></app-imghome>


<app-homecards></app-homecards>
<app-modalcontact></app-modalcontact>

<!-- <app-file-upload></app-file-upload>
<app-modalcontact #contactmodal></app-modalcontact>
<app-contactbtn (openModalEvent)="contactmodal.openModal()"></app-contactbtn>

<app-reservemodal #reservemodal></app-reservemodal>
<app-reservebtn (openModalEvent)="reservemodal.openModal()"></app-reservebtn>
  -->
<!-- Mostrar modal -->
<!-- <app-modalcontact #modal1></app-modalcontact>
<app-contactbtn (openModalEvent)="modal1.openModal()"></app-contactbtn> -->
<!-- <app-file-upload></app-file-upload> -->




